.stylemnu2 .nav-item {
    padding: 0.5rem 0.9rem !important;
    display: block;

}

.stylemnu2 .nav-item .nav-link {
    width: 150px;
    height: 150px;
    /* padding: 25px 30px; */
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.stylemnu2 .nav-item .nav-link:hover {
    color: #fff !important;
    background-color: rgb(0, 102, 51) !important;
}

/* image */
.stylecontentmnu2en {
    width: 100%;
    height: 98%;
    margin: 0 auto;
}


.stylecontentmnu2en .imagemenu2 {
    max-height: 200px !important;
}

.stylecontentmnu2en .mr-2 {
    text-align: center;
    margin: 200px 0 0 0;
    z-index: 1 !important;
}

.stylecontentmnu2en .menu-home-item-image,
.menu-item-image {
    position: absolute;
    height: 95% !important;
    top: 5%;
    right: 7px;
    width: 96% !important;
}

.stylecontentmnu2en .menu-home-item-image,
.menu-item-image img {
    border-radius: 5px !important;
    width: 100%;
    margin: 0px -0px 0px 0px !important;
    height: 87% !important;
}

.spacial {
    background-color: red;
    color: #ffff;
    padding: 3px 2px 4px 2px;
    border-radius: 5px;
    margin: 1px -17px 1px 5px;
    padding: 0px 2px 1px 3px;
}

.priceandspecials {
    font-weight: 900;
    color: #006633;
}

.andspecial {
    display: flex;
    align-items: center;
}

.menu-item {
    border: 3px solid rgb(0, 102, 51) !important;
}

.Larg {
    /* font-weight: 900; */
    /* font-size: 14px; */
    padding: 0 0 0 0 !important;
    font-family: "Roboto", sans-serif;
    text-transform: capitalize !important;
}

.variationslarg {
    color: black !important;
    font-size: 16px;
    padding: 0px 0px 6px 2px;
    width: 110px;
}

.form-check {
    padding: 0 0 0 35px !important;
}

.drink-items-section {
    z-index: 2;
}

.exampleCheckss {
    margin: 25px 0px 0px -32px !important;
}

.container {
    z-index: 3 !important;
}

.styleoffcanvasclose {
    font-weight: 900;
    font-size: 21px;
    color: red !important;
}

@media (max-width: 992px) {
    .stylecontentmnu2en .mr-2 {
        text-align: center;
        margin: 200px 0 0 0;
        z-index: 1 !important;
        margin-top: 200px !important;
        margin-right: 0 !important;

    }
}

@media (max-width: 576px) {
    .stylemnu2 .nav-item .nav-link {
        margin: 0 auto !important;
    }

}

.divline {
    padding: 1px 0px 1px 0px !important;
    background-color: #8e8e8e !important;
}

.label:not(.input-tabs-label):not(.custom-control-label) {
    margin: 0 !important;
}

.Largs {
    margin: 13px 0px 0px 0px !important;
}


span {
    cursor: pointer;
}

.number {
    margin: 40px 1px 0px 9px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: baseline;
}

.minus,
.plus {
    width: 20px;
    height: 24px;
    background: #f2f2f2;
    border-radius: 4px;
    padding: 0px 5px 7px 5px;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.minussand {
    height: 34px;
    width: 50px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;

}
.minus{
    margin: 0px 0px 0px 5px!important;
    z-index: 9;
}
.plus{
    margin: 0px 5px 0px 15px!important;
    z-index: 9;
}
.number input{
    padding: 0 1px 0px;
}